﻿@page "/"

@inject NavigationManager NavigationManager

@using System.Net.Http;
@using Grpc.Net.Client.Web;
@using Grpc.Net.Client;
@using Newtonsoft;
@using Notifyp;

@code {
    string ShowError = null;
}
@if (!string.IsNullOrEmpty(ShowError))
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" @onclick="@(() => { ShowError = null; })">×</button>
        <strong>Warning!</strong> @ShowError
    </div>
}

@code {
    string ShowInfo = null;
}
@if (!string.IsNullOrEmpty(ShowInfo))
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" @onclick="@(() => { ShowInfo = null; })">×</button>
        <strong>Info:</strong> @ShowInfo
    </div>
}

<div class="row" style="margin:5px">
    <div class="col"> <label>App ID</label> </div>
    <div class="col"> <input @bind="AppID" /> </div>
    <div class="col" />
</div>
<div class="row" style="margin:5px">
    <div class="col"> <label>Notify Channel</label> </div>
    <div class="col"> <input @bind="NotifyChannel" /> </div>
    <div class="col" />
</div>

<div class="row" style="margin: 5px;">
    <div class="col"> <label> Node UUID </label> </div>
    <div class="col"> <input @bind="NodeUUID" /> </div>
    <div class="col"> <button class="btn btn-primary" @onclick="@(() => PullNotification())">Pull</button> </div>
</div>

 <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Message</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td> <input @bind="Title" /> </td>
                    <td> <input @bind="Message" /> </td>
                    <td> <input type="number" @bind="Level" /> </td>
                    <td> <button class="btn btn-primary" @onclick="@(() => PushNotification())">Push</button> </td>
                </tr>
        </tbody>
    </table>
<hr />

@code {
    public string AppID { get; set; }
    public string NotifyChannel { get; set; }
    public string NodeUUID { get; set; }
    public string Title { get; set; }
    public string Message { get; set; }
    public int Level { get; set; }

    public async Task PullNotification()
    {
        try
        {
            var reply = await ServiceClient.PullNotifyAsync(new PullNotifyRequest()
            {
                NodeCtx = new NodeContext()
                {
                    AppCtx = new Notifyp.AppContext() { AppId = AppID },
                    Node = new NodeQ() { Channel = NotifyChannel, Uuid = NodeUUID }
                }
            }, deadline: System.DateTime.UtcNow.AddMilliseconds(2000));

            ShowInfo = GetJson(reply);
        }
        catch (Grpc.Core.RpcException re) when (re.StatusCode == Grpc.Core.StatusCode.OK)
        {
            ShowInfo = re.Status.Detail;
            System.Console.WriteLine(re);
            return;
        }
        catch (Exception e)
        {
            ShowError = $"{e}";
            System.Console.WriteLine(e);
        }
    }

    public async Task PushNotification()
    {
        try
        {
            var n = new NotifyQ()
            {
                Title = Title,
                Message = Message,
                Level = (NotifyLevel)Level
            };

            var reply = await ServiceClient.PushNotifyAsync(new PushNotifyRequest()
            {
                Ctx = new Notifyp.AppContext() { AppId = AppID },
                Channel = NotifyChannel,
                Notify = n
            });

            ShowInfo = $"Send notification: {AppID};{NotifyChannel} => {n}";
        }
        catch (Exception e)
        {
            ShowError = $"{e}";
            System.Console.WriteLine(e);
        }
    }
}

@code {
    public static Index _index;
    public static string _host;

    private Notifyp.NotifyServices.NotifyServicesClient ServiceClient;

    protected override Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.BaseUri);
        _host = uri.Host;

        try
        {
            ServiceClient = GetServiceClient($"http://{_host}:{uri.Port}/");
        }
        catch (Exception e)
        {
            ShowError = e.Message;
            Console.WriteLine($"{e}");
        }

        return Task.CompletedTask;
    }

    private string GetJson(Google.Protobuf.IMessage message)
    {
        using (System.IO.StringWriter sw = new System.IO.StringWriter())
        {
            var formater = new Google.Protobuf.JsonFormatter(new Google.Protobuf.JsonFormatter.Settings(true));
            formater.WriteValue(sw, message);
            var json = sw.ToString();

            return Newtonsoft.Json.Linq.JObject.Parse(json).ToString(Newtonsoft.Json.Formatting.Indented);
        }
    }

    private Notifyp.NotifyServices.NotifyServicesClient GetServiceClient(string ep)
    {
        System.AppContext.SetSwitch("System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport", true);
        var httpClient = new HttpClient(new GrpcWebHandler(GrpcWebMode.GrpcWeb, new HttpClientHandler()));
        var channel = GrpcChannel.ForAddress(ep, new GrpcChannelOptions { HttpClient = httpClient, Credentials = Grpc.Core.ChannelCredentials.Insecure });
        return new Notifyp.NotifyServices.NotifyServicesClient(channel);
    }
}
